
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-dark: #777;
$color-white: #fff;

*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

* {
    font-size: 10px;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400px;
   
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 30px;
    box-sizing: border-box;
}

.header {
    height: 95vh;
    position: relative;
    background-image: linear-gradient(
        to right bottom,
          $color-primary-light,
          $color-primary-dark), 
    url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 10l0%);

    
}

.logo-box{
    position: absolute;
    top: 4rem;
    left: 4rem;
}

.logo {
    height: 3.5rem;
}

.textbox {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;


    &-main {
        display: block;
        font-size: 5rem;
        font-weight: 399;
        letter-spacing: 2.5rem;

        animation-name: moveInLeft;
        animation-duration: 0s;
        animation-timing-function: ease-in-out;
    }

    &-sub {
        display: block;
        font-size: 1rem;
        font-weight: 699;
        letter-spacing: 0.75rem;
        animation: moveInRight 0s ease-in-out;
    }
    
} 


@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
    
}

@keyframes moveInButton {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    80% {
        transform: translateX(0px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
    
}
.btn {
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative
    }

    &:hover {
        transform: translateY(-3);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2)

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(-0.15rem);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2)
    }

    &-white {
        background-color: $color-white;
        color: $color-grey-dark;

        &::after {
            background-color: $color-white;
        }
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    &-animated {
        animation: moveInButton .5s ease-out .75s;
        animation-fill-mode: backwards;
    }

}

