.header {
    height: 95vh;
    position: relative;
    background-image: linear-gradient(
        to right bottom,
          $color-primary-light,
          $color-primary-dark), 
    url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.textbox {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}