.btn {
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative
    }

    &:hover {
        transform: translateY(-3);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2)
    }

    &:active {
        transform: translateY(-0.15rem);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2)
    }

    &:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }

    &-white {
        background-color: $color-white;
        color: $color-grey-dark;

        &::after {
            background-color: $color-white;
        }
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    &-animated {
        animation: moveInButton .5s ease-out .75s;
        animation-fill-mode: backwards;
    }

}