
body {
    font-family: "Lato", sans-serif;
    font-weight: 400px;
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 30px;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;


    &-main {
        display: block;
        font-size: 5rem;
        font-weight: 399;
        letter-spacing: 2.5rem;
        animation-name: moveInLeft;
        animation-duration: 0s;
        animation-timing-function: ease-in-out;
    }

    &-sub {
        display: block;
        font-size: 1rem;
        font-weight: 699;
        letter-spacing: 0.75rem;
        animation: moveInRight 0s ease-in-out;
    }
    
} 

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-grey-dark, 0.5);
    }
}