
/* Small phones: from 0 to 400px */

@media only screen and (max-width: 480px) {

}


/* Small phones to small tablets: from 481px to 767px */

@media only screen and (max-width: 767px) {

}


/* Small tablets to  big tablets: from 768px to 1023px */

@media only screen and (max-width: 1023px) {
    body {
        font-size: 18px;
    }
    section {
        padding: 60px 0;
    }
    .long-copy {
        width: 80%;
        margin-left: 10%;
    }

    .steps-box {
        margin-top: 10px;
    }
    .works-steps {
        margin-bottom: 40px;
    }
    .works-steps {
        
    }
}


/* Big tablets to 1200px (widths smaller than the 1140px row */

@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }
    .row {
        padding: 0 2%;
    }
}
